.border-pattern {
  position: relative;
}

.border-pattern::before,
.border-pattern::after {
  content: "";
  position: absolute;
  left: 0;
  height: 14px;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(var(--text), 0.07) 0px,
      rgba(var(--text), 0.07) 8px,
      transparent 8px,
      transparent 16px
  );
}

.border-pattern::before {
  top: -14px;
}

.border-pattern::after {
  bottom: -14px;
}

.showcase-img {
  width: 100%;
  height: 240px;      
  object-fit: cover;
  border-radius: 12px;
  mask-image: linear-gradient(to left, black 70%, transparent 100%);
}

@media (min-width: 768px) {
  .showcase-img {
    height: 340px;     
  }
}

@media (min-width: 1024px) {
  .showcase-img {
    height: 420px;  
  }
}

.link-btn {
  font-weight: 600;
  color: rgb(var(--text-secondary));
  transition: color .2s;
}

.link-btn:hover {
  color: rgb(var(--text-secondary-hover));
}