<section
  class="showcase-section relative w-full py-20 md:py-22 bg-[rgb(var(--bg))] overflow-hidden sm:px-10 md:px-16 xl:px-52"
>
  <div
    class="absolute inset-0 bg-cover bg-center pointer-events-none"
    style="
      background-image: var(--showcase-bg);
      opacity: var(--showcase-opacity);
    "
  ></div>

  <div class="container relative z-10 mx-auto">
    <p
      class="text-center text-sm tracking-[3px] uppercase font-semibold text-[rgb(var(--secondary-text))]"
    >
      showcase
    </p>

    <h2
      class="mt-3 text-2xl text-center sm:text-3xl md:text-4xl font-medium text-[rgb(var(--text))]"
    >
      Our Selected Works
    </h2>

    <div
      class="showcase-item grid grid-cols-1 md:grid-cols-2 border-pattern mt-16"
    >
      <div class="p-0 md:py-12 md:px-4">
        <h3 class="text-2xl font-semibold text-[rgb(var(--text))]">
          Brooklyn Academy
        </h3>

        <p class="text-[rgb(var(--secondary-text))] mt-3">
          At Brooklyn Academy, we are a collective of visionaries, innovators,
          and problem-solvers dedicated to transforming the way you work and
          learn. Our passion lies in simplifying complexity and driving
          efficiency across all touchpoints.
        </p>

        <p class="text-[rgb(var(--secondary-text))] mt-6 leading-relaxed">
          We don’t just build products – we craft seamless experiences that
          accelerate success, giving you the tools and insights to navigate the
          future faster.
        </p>

        <!-- <button class="link-btn my-6 text-[rgb(var(--secondary-text))]">
          View more →
        </button> -->
      </div>

      <div class="relative">
        <img src="img/building.avif" class="showcase-img" alt="project" />
      </div>
    </div>

    <div
      class="showcase-item grid grid-cols-1 md:grid-cols-2 border-pattern mt-16"
    >
      <div class="relative order-1 md:order-none">
        <img src="img/building.avif" class="showcase-img" alt="project" />
      </div>

      <div class="p-0 md:p-12">
        <h3 class="text-2xl font-semibold text-[rgb(var(--text))]">
          FNF Global
        </h3>

        <p class="text-[rgb(var(--secondary-text))] mt-3">
          By integrating FNF Global’s real-world logistics operations, Brooklyn
          Academy LMS provides employees with the practical training and
          knowledge they need to excel in the logistics industry. This
          partnership ensures that our curriculum is not only aligned with
          industry standards but is also tailored to enhance employees’ skills,
          foster continuous learning, and bridge the knowledge gap within the
          workforce.
        </p>

        <p class="text-[rgb(var(--secondary-text))] mt-6 leading-relaxed">
          Our platform empowers both employers and employees by offering tools
          to track progress and improve workforce efficiency.
        </p>
        <!-- 
        <button class="link-btn mt-6 text-[rgb(var(--secondary-text))]">
          View more →
        </button> -->
      </div>
    </div>

    <div
      class="showcase-item grid grid-cols-1 md:grid-cols-2 border-pattern mt-16"
    >
      <div class="p-0 md:py-12 md:px-4">
        <h3 class="text-2xl font-semibold text-[rgb(var(--text))]">
          Global Workforce Development Initiatives
        </h3>

        <p class="text-[rgb(var(--secondary-text))] mt-3">
          In collaboration with regional and international organizations, we are
          expanding workforce training programs to ensure that employees across
          industries have access to ongoing learning opportunities.
        </p>

        <p class="text-[rgb(var(--secondary-text))] mt-6 leading-relaxed">
          Our platform supports knowledge management by providing a centralized
          system for tracking performance, offering real-time feedback, and
          ensuring that employees continue to build their skillsets for
          long-term career growth.
        </p>

        <button class="link-btn mt-6 text-[rgb(var(--secondary-text))]">
          View more →
        </button>
      </div>

      <div class="relative">
        <img src="img/building.avif" class="showcase-img" alt="project" />
      </div>
    </div>
  </div>
</section>
