.pattern-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern-bg::before {
  content: "";
  width: 100%;
  height: 460px;
  background-image: repeating-linear-gradient(
    135deg,
    #ffffff 0px,
    #000 4px,
    transparent 4px,
    transparent 8px
  );
}

@media (max-width: 1024px) {
  .pattern-bg::before {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .stats-image {
    display: none !important;
  }
}