.pattern-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    #dce4ee33 0,
    #dce4eeac 1px,
    transparent 1px,
    transparent 10px
  );
}

.pattern {
  position: relative;
  overflow: hidden;
}
.pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(16,24,40,0.06) 0,
    rgba(16,24,40,0.06) 1px,
    transparent 1px,
    transparent 5px
  );
}
.pattern > * { position: relative; z-index: 1; }

.corner {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 20;
}


.corner-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #c7d6e2;
  border-radius: 50%;
  z-index: 30;
}


.corner-line-v {
  position: absolute;
  width: 2px;
  height: 70px;
  background-image: repeating-linear-gradient(
    to bottom,
    #c7d6e2 0 3px,
    transparent 3px 8px
  );
  z-index: 25;
}


.corner-line-h {
  position: absolute;
  height: 2px;
  width: 70px; 
  background-image: repeating-linear-gradient(
    to right,
    #c7d6e2 0 3px,
    transparent 3px 8px
  );
  z-index: 25;
}


.corner-tl { top: 0; left: 0; }
.corner-tl .corner-dot      { top: -6px; left: -6px; }
.corner-tl .corner-line-v   { top: -6px; left: -1px; }
.corner-tl .corner-line-h   { top: -1px; left: -6px; }


.corner-tr { top: 0; right: 0; }
.corner-tr .corner-dot      { top: -6px; right: -6px; }
.corner-tr .corner-line-v   { top: -6px; right: -1px; }
.corner-tr .corner-line-h   { top: -1px; right: -6px; transform: scaleX(-1); }


.corner-bl { bottom: 0; left: 0; }
.corner-bl .corner-dot      { bottom: -6px; left: -6px; }
.corner-bl .corner-line-v   { bottom: -6px; left: -1px; transform: scaleY(-1); }
.corner-bl .corner-line-h   { bottom: -1px; left: -6px; }


.corner-br { bottom: 0; right: 0; }
.corner-br .corner-dot      { bottom: -6px; right: -6px; }
.corner-br .corner-line-v   { bottom: -6px; right: -1px; transform: scaleY(-1); }
.corner-br .corner-line-h   { bottom: -1px; right: -6px; transform: scaleX(-1); }

