input,
textarea {
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--input-text);

  padding: 14px 18px;
  border-radius: 12px;

  transition: border 0.25s ease, box-shadow 0.25s ease;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 0 2px var(--input-focus);
}
