<div class="team-container bg-[rgb(var(--bg))]">
    <p class="uppercase text-sm text-center tracking-[3px] text-gray-400 ">
      Team
    </p>
        <h2 class=" text-2xl text-center sm:text-3xl md:text-4xl font-medium 
               text-[rgb(var(--text))] mb-6">
    Our brilliant teammates
    </h2>
  <div class="team-row ">
    <div class="team-card jake">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Jake Peralta</h3>
      <p>UI/UX Designer</p>
    </div>
  </div>

  <div class="team-row">
    <div class="team-card sophia">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Sophia Perez</h3>
      <p>Lead Developer</p>
    </div>

    <div class="team-card gina">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Gina Linetti</h3>
      <p>Marketing Director</p>
    </div>
  </div>

  <div class="team-row">
    <div class="team-card madeline">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Madeline Wuntch</h3>
      <p>CEO & Founder</p>
    </div>

    <div class="team-card amy">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Amy Santiago</h3>
      <p>Backend Engineer</p>
    </div>

    <div class="team-card charles">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Charles Boyle</h3>
      <p>QA Engineer</p>
    </div>
  </div>

  <div class="team-row">
    <div class="team-card terry">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Terry Jeffords</h3>
      <p>Product Manager</p>
    </div>

    <div class="team-card raymond">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Raymond Holt</h3>
      <p>CTO</p>
    </div>
  </div>

  <div class="team-row">
    <div class="team-card rosa">
      <img src="img/building.avif" />
      <h3 class="text-[rgb(var(--text))]">Rosa Diaz</h3>
      <p>DevOps Engineer</p>
    </div>
  </div>

</div>
