@import "tailwindcss";

:root {
  --bg: 255 255 255;
  --text: 0 0 0;
  --secondary-text: 61 61 61;
  --hover-text: 0 205 142;
  --menu-bg: 255 255 255;
  --menu-bar-tooggle: 230 230 230;

  --text-secondary: 0 255 162;
  --text-secondary-hover: 68 236 174;
  
  --hero-bg: url('/img/white.png');
  --showcase-bg: url('/img/white2.png');
  --showcase-opacity: 0.25;
  --client-logo: 150 160 170; 

  --swiper-bg: 247 250 252;

  --free: url('/img/add-dark.svg');
  --pro: url('/img/vip.svg');
  --saver: url('/img/vip-vipwhite.svg');

  --input-bg: #f5f5f5;      
  --input-border: #d0d0d0;      
  --input-text: #000000;        
  --input-placeholder: #777;   
  --input-focus: #3b82f6;  

  --footer-bg: url('/img/white-footer.png');
  --showcase-bg: url('/img/4-ChFq4e92.webp');

  --border-faq: 247 250 252;

}

[data-theme="black"] {
  --bg: 0 0 0;
  --text: 255 255 255;
  --secondary-text: 186 186 186;
  --hover-text: 0 205 142;
  --menu-bg: 15 18 21;
  --menu-bar-tooggle: 40 40 40;

  --text-secondary: 0 255 162;
  --text-secondary-hover: 68 236 174;

  --hero-bg: url('/img/dark.png');
  --showcase-bg: url('/img/dark2.png');
  --showcase-opacity: 1; 
  --client-logo: 210 220 230;

  --swiper-bg: 17 20 23;

  --free: url('/img/add-white.svg');
  --pro: url('/img/vip-dark.svg');
  --saver: url('/img/vip-vipdark.svg');

  --input-bg: #181b1e;        
  --input-border: #2a2d30;      
  --input-text: #ffffff;        
  --input-placeholder: #8c8c8c;
  --input-focus: #22d3ee;      

  --footer-bg: url('/img/dark-footer.png');
  --showcase-bg: url('/img/4-ChFq4e92.webp');

  --border-faq: 24 26 30;

}

input::placeholder {
  color: rgb(var(--placeholder));
  opacity: 1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.icon-box {
  @apply px-2.5 h-10 rounded-lg bg-gray-100 flex items-center justify-center;
}

.icon {
  @apply w-5 h-5 text-gray-700;
}

.item-title {
  @apply font-medium;
}

.item-desc {
  @apply text-sm text-gray-500;
}


/* PATTERN BACKGROUND */
.pattern {
  position: relative;
  overflow: hidden;
}

.pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: repeating-linear-gradient(
      -45deg,
      var(--pattern-line) 0px,
      var(--pattern-line) 1px,
      transparent 1px,
      transparent 10px
  );
}

.pattern > * {
  position: relative;
  z-index: 1;
}


