.client-logo {
  filter: brightness(0) saturate(100%)
          invert( var(--invert, 50%) )
          sepia(0%) saturate(0%) 
          hue-rotate(0deg)
          brightness(1)
          contrast(1);
  opacity: 0.6;
  transition: opacity .3s ease;
}

.client-logo:hover {
  /* opacity: 1; */
}
