<section class="w-full pt-20 bg-[rgb(var(--bg))]">
  <div class="container mx-auto lg:px-15 sm:px-10 px-5 text-center ">

    <p class="text-xs tracking-[3px] font-semibold text-gray-400 uppercase">
      CLIENTS
    </p>

    <h2 class="mt-3 text-2xl sm:text-3xl md:text-4xl font-medium 
               text-[rgb(var(--text))]">
      Trusted by Industry Leaders
    </h2>

<div class="mt-10 grid grid-cols-2 lg:grid-cols-3 gap-8 items-center justify-center 
            px-6 sm:px-12 md:px-20 lg:px-32">

      <img src="no_bg/az.png" class="client-logo mx-auto" alt="Netflix">
      <img src="no_bg/fnf.png" class="client-logo mx-auto" alt="Netflix">
      <img src="no_bg/kainat.png" class="client-logo mx-auto" alt="Netflix">
      <img src="no_bg/spacex.png" class="client-logo mx-auto" alt="Netflix">
      <img src="no_bg/uget.png" class="client-logo mx-auto" alt="Netflix">
      <img src="no_bg/usprime.png" class="client-logo mx-auto" alt="Netflix">

    </div>
  </div>
</section>
